.add_to_cart {
  width: 100%;
  max-width: 430px;
  color: var(--primary-color);
  font-weight: 700;
  padding: 10px 0 20px 0;
}

.price_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price_container .left_side {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.left_side .price {
  font-size: 1.8em;
}

.left_side .discount {
  padding: 2px 9px;
  margin-left: 15px;
  font-size: 16px;
  border-radius: 5px;
  color: #f9f9f9;
  background-color: var(--primary-color);
}

.price_container .original_price {
  width: 30%;
  font-size: 0.9em;
  color: var(--secondary-color);
}

.add_items_container {
  display: flex;
  flex-direction: column;
}

.quantity_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0;
  padding: 12px 5%;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}

.quantity_content .minus_button {
  padding-bottom: 3px;
}

.quantity_content .plus_button {
  padding-top: 3px;
}

.add_to_cart button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.add_to_cart button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.add_to_cart .add_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 13px 0;
  margin: 15px 0 0 19px;
  border-radius: 10px;
  gap: 12px;
  font-weight: 900;
  color: var(--primary-color);
  background: var(--button-bg-color);
  margin-bottom: 20px;
}

.add_button img {
  height: 15px;
}

/* Media queries*/
@media (min-width: 1024px) {
  .add_to_cart {
    max-width: 100%;
  }
  .price_container {
    flex-direction: column;
  }

  .price_container .left_side {
    width: 100%;
  }

  .left_side .price {
    font-size: 2em;
  }

  .left_side .discount {
    margin-left: 20px;
  }

  .price_container .original_price {
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 5px 0 0 20px;
  }

  .add_items_container {
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
  }

  .quantity_content {
    width: 30%;
    margin: 0 15px 0 20px;
    padding: 12px 3%;
  }

  .add_to_cart .add_button {
    width: 55%;
    margin: 0;
  }
}
