.product_info {
  width: 100%;
  max-width: 430px;
}

.product_info p {
  text-align: left;
  color: var(--secondary-color);
  padding: 0 20px 3px 21px;
}

.product_info h1 {
  text-align: left;
  text-wrap: wrap;
  font-size: 25px;
  color: var(--primary-color);
  padding: 0 20px 0 20px;
}

.product_info .company_name {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1.5px;
  padding-top: 20px;
}

.product_info .product_description {
  padding-top: 10px;
  font-size: 0.9em;
}

@media (min-width: 1024px) {
  .product_info {
    max-width: 100%;
  }

  .product_info h1 {
    padding-right: 0;
    font-size: 2.9em;
  }

  .product_info .company_name {
    font-size: 14px;
    padding-top: 0;
  }

  .product_info .product_description {
    font-size: 17px;
    margin-top: 15px;
  }
}
