.desktop_gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop_gallery .main_image {
  max-width: 85%;
  border-radius: 15px;
}

.thumbnail_images {
  display: flex;
  justify-content: center;
  max-width: 85%;
  gap: 30px;
  margin-top: 20px;
  list-style: none;
}

.thumbnail_images button {
  border: none;
  background: none;
}

.thumbnail_images button img {
  max-width: 100%;
  border-radius: 10px;
}
