.header_wrapper {
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header_left {
  width: 60%;
  text-align: left;
  padding: 5px 0;
}

.header_left button {
  margin-left: 25px;
}

.image_logo {
  height: 20px;
  margin-left: 15px;
}

.header_right {
  width: 40%;
  text-align: right;
}

.header_right button {
  position: relative;
  margin-right: 20px;
  padding: 5px 0;
  color: #69707d;
}

.header_right button.has_items {
  color: hsl(220, 13%, 13%);
}

.header_right button span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  padding: 0 5px;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background: var(--button-bg-color);
}

.image_profile {
  width: 22px;
  margin-right: 25px;
}

.header_left button,
.header_right button {
  border: none;
  cursor: pointer;
  background: none;
  -webkit-tap-highlight-color: transparent; /* Previne o efeito de highlight no mobile */
}

.header_left button:active,
.header_right button:active {
  transform: scale(0.95); /* Efeito de clique */
  transition: transform 0.1s ease;
}

/* Media Queries*/

@media (min-width: 1024px) {
  .header_wrapper {
    max-width: 1024px;
    padding: 25px 0;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }

  .header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image_logo {
    margin-left: 0;
  }

  .header_right {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .header_right button {
    margin-right: 40px;
  }

  .image_profile {
    width: 45px;
    margin-right: 0;
  }
}
