.header_wrapper {
  display: flex;
  width: 100%;
  height: 62px;
  max-width: 640px;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  text-align: left;
  padding: 5px 0;
}

.header_left button {
  margin-left: 25px;
}

.image_logo {
  height: 20px;
  margin-left: 15px;
}

.header_right {
  text-align: right;
}

.header_right .cart_button {
  position: relative;
  margin-right: 20px;
  padding: 5px 0;
  color: #69707d;
}

.cart_button.has_items {
  color: hsl(220, 13%, 13%);
}

.cart_button span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  padding: 0 5px;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background: var(--color-accent);
}

.button_profile {
  margin-right: 25px;
}

.image_profile {
  width: 22px;
  border-radius: 50%;
}

.header_left button,
.header_right button {
  border: none;
  cursor: pointer;
  background: none;
}

/* Media Queries*/
@media (min-width: 520px) {
  .header_wrapper {
    max-width: 100%;
    border-bottom: 1px solid hsl(223, 64%, 98%);
  }

  .header_left {
    display: flex;
    align-items: center;
  }

  .image_logo {
    margin-left: 0;
  }

  .header_right {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .image_profile {
    margin-right: 0;
  }
}

@media (min-width: 640px) {
  .header_wrapper {
    height: 80px;
  }

  .header_right .cart_button {
    margin-right: 30px;
  }

  .image_profile {
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .header_wrapper {
    height: 106px;
  }

  .header_right .cart_button {
    border-radius: 50%;
    margin-right: 60px;
  }

  .image_profile {
    width: 45px;
  }

  .image_profile:hover {
    border: 2px solid var(--color-accent);
  }
}
