.cart_dropdown {
  position: absolute;
  width: 100%;
  height: 250px;
  max-width: 520px;
  top: 78px;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart_dropdown_content {
  height: 100%;
  margin: 0 2%;
  border-radius: 10px;
  background-color: var(--light-bg-color);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.cart_dropdown .cart_title {
  text-align: left;
  font-weight: 700;
  color: var(--primary-color);
  padding: 20px 0 25px 25px;
  border-bottom: 1px solid hsl(223, 64%, 98%);
}

.cart_dropdown .cart_items {
  list-style: none;
  padding-top: 25px;
}

.cart_items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 7%;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.item div {
  display: flex;
  gap: 15px;
}

.item .item_details {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--secondary-color);
}

.item strong {
  margin-left: 10px;
  color: var(--primary-color);
}

.item button {
  display: flex;
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  color: hsl(220, 14%, 75%);
}

.checkout_button {
  width: 87%;
  padding: 15px 0;
  margin-top: 25px;
  border-radius: 10px;
  border: none;
  font-weight: 900;
  color: var(--primary-color);
  cursor: pointer;
  background: var(--color-accent);
}

.empty_cart {
  margin-top: 50px;
  color: var(--secondary-color);
  font-weight: 700;
}

@media (min-width: 520px) {
  .cart_dropdown {
    max-width: 375px;
    right: 0;
  }
}

@media (min-width: 1280px) {
  .cart_dropdown {
    right: 5%;
  }
}
