@media (min-width: 520px) {
  .desktop_navbar {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .desktop_navbar ul {
    display: flex;
    gap: 15px;
    font-size: 10px;
    list-style: none;
  }

  ul .nav_link {
    cursor: pointer;
  }

  .nav_link a {
    height: 62px;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    text-decoration: none;
  }

  .nav_link a:hover {
    color: var(--primary-color);
  }

  a.link_active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--color-accent);
  }
}

@media (min-width: 640px) {
  .desktop_navbar ul {
    gap: 20px;
    font-size: 12px;
  }

  .nav_link a {
    height: 80px;
  }
}

@media (min-width: 768px) {
  .desktop_navbar {
    margin-left: 35px;
  }

  .desktop_navbar ul {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .desktop_navbar {
    height: 106px;
    margin-left: 60px;
  }

  .desktop_navbar ul {
    height: 100%;
    gap: 35px;
  }

  .nav_link a {
    height: 106px;
  }
}
