@media (min-width: 520px) {
  .desktop_navbar {
    margin-left: 15px;
  }

  .desktop_navbar ul {
    display: flex;
    gap: 15px;
    font-size: 10px;
    color: var(--secondary-color);
    list-style: none;
  }
}

@media (min-width: 640px) {
  .desktop_navbar ul {
    gap: 20px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .desktop_navbar {
    margin-left: 35px;
  }

  .desktop_navbar ul {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .desktop_navbar {
    margin-left: 60px;
  }

  .desktop_navbar ul {
    gap: 35px;
  }

  .desktop_navbar ul li {
    cursor: pointer;
  }
}
