.drawer_menu {
  position: fixed;
  width: 100%;
  max-width: 520px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.75);
  z-index: 3;
}

.drawer_menu nav {
  width: 60%;
  height: 100%;
  padding: 20px 0 0 25px;
  background-color: var(--light-bg-color);
  animation: slide-right 0.4s ease-out forwards;
}

.drawer_menu nav button {
  border: none;
  background: none;
  cursor: pointer;
}

.icon_button {
  font-size: 14px;
  color: var(--secondary-color);
}

.drawer_menu nav ul {
  list-style: none;
  margin-top: 30px;
}

.drawer_menu .nav_link {
  width: 70%;
  font-weight: 700;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.nav_link a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
  -webkit-tap-highlight-color: transparent;
}

.active {
  transform: translateX(10px);
  border-bottom: 2px solid hsl(26, 100%, 55%);
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
