@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: hsl(220, 13%, 13%);
  --secondary-color: hsl(219, 9%, 45%);

  color-scheme: light dark;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #121212;
  }
} */
